<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}What to Eat?{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    {% include '_navbar.html' %}

    <!-- Hero Section -->
    {% include '_hero.html' %}

    <div id="results"></div>

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include '_footer.html' %}

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
